<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/ErrorLog/${date:format=yyyy-MM-dd}-getmeroom.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="Get Me Room" />
    </targets>
    <rules>
      <!-- I am adding my 3 logging rules here -->
      <logger name="*" minlevel="Debug" writeTo="database" />
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
    </rules>
  </nlog>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="ConnectionString" value="server=103.76.250.113,1433;Initial Catalog=FMH_Hotel;User Id=sa;Password=mssql@#@!12;Integrated Security=false;Max Pool Size=2000; Connect Timeout=60;"/>-->
    <add key="ConnectionString" value="server=156.238.98.86,1433;Initial Catalog=findmyholidays;Persist Security Info=True;User ID=sa;Password=mssql@#@!12;MultipleActiveResultSets=True;" />
    <add key="CALLUS" value="+91-9217639233" />
    <add key="SUPPORTE_MAIL" value="support@bookmyhotels.co.in" />
    <add key="COMPANY_NAME" value="bookmyhotels.co.uk" />
    <add key="DOMAIN_NAME" value="https://bookmyhotels.co.in/" />
    <!--INR-->
    <add key="CURRENCY" value="GBP" />
    <add key="CONVERTION_RATE" value="106.07" />
    <add key="NATIONALITY" value="GB" />
    <add key="WHITLIST_IP" value="10.0.50.1" />
    <add key="CHANNEL" value="B2C" />
    <add key="AGENTID" value="1" />
    <add key="SERVICETYPE" value="Hotel" />
    <add key="AUTHKEY" value="e74db820-a9c9-4e81-81aa-7482da0fb16b" />
    <add key="OFFICE_ADDRESS" value="RZ - 48 and 49, Jain colony part-3, Uttam Nagar, Mohan Garden, New Delhi, India, 110059" />
    <!--TEST END POINT IS BELOW-->
    <!--<add key="ENDPOINT" value="http://localhost:5079/api/" />-->
    <add key="ENDPOINT" value="http://hotelapi.bookmyhotels.co.in/api/" />
    <!-- PhonePe Payment Details Test Crediantials-->
    <add key="PHONEPE_MERCHANTID" value="PGTESTPAYUAT86" />
    <add key="PHONEPE_MERCHANTUSERID" value="PGTESTPAYUAT86" />
    <add key="PHONEPE_SALTKEY" value="96434309-7796-489d-8924-ab56988a6076" />
    <add key="PHONEPE_GATEWAYURL" value="https://api-preprod.phonepe.com/apis/pg-sandbox" />
    <!--<add key="PHONEPE_GATEWAYURL" value="https://api.phonepe.com/apis/hermes"/>-->
    <add key="AllowPaymentGateway" value="true" />
    <add key="ENABLE_BOOKING" value="false" />
    <!-- Paytm Payment Details Test Crediantials-->
    <add key="MerchantId" value="dhpTmy19249563823946" />
    <add key="MerchantKey" value="f73Hpq39gJ&amp;uZjxk" />
    <add key="StagingUrl" value="https://securegw-stage.paytm.in/order/process" />
    <add key="Website" value="WEBSTAGING" />
    <add key="IndustryType" value="Retail" />
    <add key="ChannelId" value="WEB" />
    <add key="CallbackUrl" value="http://localhost:58225/TransactionProcess/GetPaytmResponse" />
    <add key="TrancationType" value="TEST" />
    <add key="ProductionUrl" value="https://securegw.paytm.in/order/process" />
    <add key="SiteRootPath" value="http://localhost:58225/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FlightBookingEngineSoap" />
        <binding name="BasicHttpBinding_IFandHServices" />
      </basicHttpBinding>
      <customBinding>
        <binding name="FlightBookingEngineSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <!--<client>
      <endpoint address="http://api2.flightxpertuk.com/FlightBookingEngine.asmx" binding="basicHttpBinding" bindingConfiguration="FlightBookingEngineSoap" contract="FandHServices.FlightBookingEngineSoap" name="FlightBookingEngineSoap" />
      <endpoint address="http://api2.flightxpertuk.com/FlightBookingEngine.asmx" binding="customBinding" bindingConfiguration="FlightBookingEngineSoap12" contract="FandHServices.FlightBookingEngineSoap" name="FlightBookingEngineSoap12" />
      <endpoint address="http://dataservices.flightxpertuk.com/FandHServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFandHServices" contract="DataServices.IFandHServices" name="BasicHttpBinding_IFandHServices" />
    </client>-->
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>