@{
    ViewBag.Title = " Hotel Search for " + ViewBag.Location;
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <main id="content">
        <!-- Hero Section -->
        <div class="bg-img-hero text-center mb-5 mb-lg-8" style="background-image: url('Content/img/1920x400/about.jpg');">
            <div class="container space-top-xl-3 py-6 py-xl-0">
                <div class="row justify-content-center py-xl-4">
                    <!-- Info -->
                    <div class="py-xl-10 py-5">
                        <h1 class="font-size-40 font-size-xs-30 text-white font-weight-bold mb-0">About Us</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-no-gutter justify-content-center mb-0">
                                <li class="breadcrumb-item font-size-14"><a class="text-white" href="@Data.GetMeRoom.GlobalConstant.ConfigVariables.SITEROOTPATH">Home</a></li>
                                <li class="breadcrumb-item custom-breadcrumb-item font-size-14 text-white active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- End Info -->
                </div>
            </div>
        </div>
        <!--End Hero Section -->
        <div class=" terms_tab border-bottom border-color-8 pt-lg-1">

            <div class="container mb-4 mb-lg-11 pb-lg-1">
                <div class="row">

                    <div class="col-md-12 col-lg-8 col-xl-12">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab">
                                <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">Innovative Market Place for Latest Hotel Deals on Budget Hotel Rooms</h4>
                                <p class="text-lh-lg text-gray-1">If travelling to bizarre destinations is your first dream, or if you are on a MICE tour for seeking new business ventures, getmerooms.co.uk is the all-inclusive marketplace you are going to find your desirous living abode away from home. We offer interactive and foolproof hotel reservation system through which hotel reservations are made, and the guests enjoy the gain as they book discount and budget hotel rooms anytime of the year and from anywhere.</p>


                                <p class="text-lh-lg text-gray-1">With getmerooms.co.uk working in the background, guests not have the undue advantage to book the hotel room of their choice, but receive confirmation of the booking in advance. We help our guests in simplifying the hotel booking process; as much as we offer them the reason to be in the finest abodes, explicitly celestial, mesmerising and fascinate their imagination. </p>
                            </div>



                            <div class="tab-pane fade active show" id="pills-two-example1" role="tabpanel" aria-labelledby="pills-two-example1-tab">

                                <h4 class="font-size-16 font-weight-semi-bold">11-Reasons to Book Hotel Rooms from Getmerooms.co.uk </h4>
                                <p class="text-lh-lg text-gray-1">•	User-friendly Booking and Cancellation Policies</p>
                                <p class="text-lh-lg text-gray-1">•	Safety and Hygiene Compliant Stays  </p>
                                <p class="text-lh-lg text-gray-1">•	Stress-free hotel and room booking  </p>
                                <p class="text-lh-lg text-gray-1">•	Quick accessibility to the payment records </p>
                                <p class="text-lh-lg text-gray-1">•	Shop and compare the hotel prices and reserve the room </p>
                                <p class="text-lh-lg text-gray-1">•	Convenient room cancellation procedures </p>
                                <p class="text-lh-lg text-gray-1">•	Hotel booking confirmation receipt produced with logo  </p>
                                <p class="text-lh-lg text-gray-1">•	Foolproof safety and security in online transactions </p>
                                <p class="text-lh-lg text-gray-1">•	Personal identity of the guests not revealed </p>
                                <p class="text-lh-lg text-gray-1">•	No updates or physical installations on the system </p>




                            </div>


                            <div class="tab-pane fade active show" id="pills-three-example1" role="tabpanel" aria-labelledby="pills-three-example1-tab">
                                <h4 class="font-size-16 font-weight-semi-bold">Book Hotels with World Class Features and Irresistible Interiors</h4>


                                <p class="text-lh-lg text-gray-1">Getmerooms.co.uk has a listing of finest hotels and resorts that offer affordable hotel rooms all through the year. Being a genuine hotel marketplace in the UK, we have a thoughtful empathy towards guests to experience the blend of royalty and comfort away from their homes. Our esteemed guests are introduced to a colossal list of hotels that have the features such as Wi-Fi, Pool, apart from all other luxuries. The biggest gain while you book a hotel room from Getmerooms.co.uk is that the guests make their decision after reading genuine reviews. </p>

                                <h4 class="font-size-16 font-weight-semi-bold">Benefits Earned by the Guests</h4>

                                <p class="text-lh-lg text-gray-1">•	Book a room in over 10,000 hotels and resorts in cities and continents </p>
                                <p class="text-lh-lg text-gray-1">•	Lowest booking rates on luxury hotels</p>

                                <p class="text-lh-lg text-gray-1"> •	Earn reward points on every stay and redeem them anytime</p>
                                <p class="text-lh-lg text-gray-1"> •	Accessibility from anywhere</p>
                                <p class="text-lh-lg text-gray-1"> •	Personal comfy space booked in seconds</p>
                            </div>


                            <div class="tab-pane fade active show" role="tabpanel" aria-labelledby="pills-three-example1-tab">

                                <h4 class="font-size-14 font-weight-semi-bold"> Place to be in Peace With   </h4>
                                <p class="text-lh-lg text-gray-1">
                                    Get the best No Contact experience with getmerooms.co.uk, and book your cheapest 3-star hotel rooms and earn hotel discounts as well as all-time cheap hotel deals. Besides the lowest rate guarantee listed on getmerooms.co.uk, there are special deals on reserving a room in the hotel of your choice in the last minute.

                                </p>

                            </div>






                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

   