<section class="container py-5">
    <div class="row overflow-hidden position-relative">
        <div class="col-12 text-center"><h2 class="section-title text-black font-size-30 font-weight-bold mb-4">Hotels Blog</h2></div>

        <div class="blog-carousel-track" id="blogCarouselTrack" style="transform: translateX(0px);">
            <!-- Slide 1 -->

            <div class="blog-carousel-slide">
                <div class="">
                    <div class="card cardBlog border-0">
                        <div class="card-img-wrapper">
                            <a href="best-family-friendly-hotels-in-india">
                                <img src="~/Content/img/Best-Family-Friendly-Hotels-in-India.png" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title">Best Family-Friendly Hotels in India for a Perfect Getaway</h5>
                            <p class="card-text small text-muted">
                            </p><p>India is a land of diverse cultures, stunning landscapes, and warm hospitality — making it one of the best destinations for family vacations. Whether it’s a relaxing beach holiday, a mountain escape, or a royal experience, India offers countless options for families to bond and create lifelong memories. At Book My Hotels, we’ve curated a list...</p>
                            <a href="best-family-friendly-hotels-in-india">Read more...</a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-carousel-slide">
                <div class="">
                    <div class="card cardBlog border-0">
                        <div class="card-img-wrapper">
                            <a href="boutique-beach-hotels-india-romantic-getaways">
                                <img src="~/Content/img/India-Boutique-Beach-Hotels.png" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title">India Boutique Beach Hotels – Romantic Getaways by the Sea</h5>
                            <p class="card-text small text-muted">
                            </p><p>If your idea of romance involves sun-kissed beaches, candlelit dinners by the sea, and cozy stays with a touch of luxury — then India’s boutique beach hotels are calling your name. From the serene shores of Kerala to the vibrant beaches of Goa and the untouched beauty of the Andaman Islands, India offers an incredible mix of romantic seaside getaways...</p>
                            <a href="boutique-beach-hotels-india-romantic-getaways">Read more...</a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-carousel-slide">
                <div class="">
                    <div class="card cardBlog border-0">
                        <div class="card-img-wrapper">
                            <a href="beachfront-bliss-best-india-hotels-with-spa-and-sea-views">
                                <img src="~/Content/img/Beachfront-Bliss-Best-India-Hotels.png" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title">Beachfront Bliss: Best India Hotels with Spa &amp; Sea Views</h5>
                            <p class="card-text small text-muted">
                            </p><p>There’s something magical about waking up to the sound of waves, watching golden sunsets over the sea, and indulging in a soothing spa session overlooking the ocean. Whether you’re planning a romantic retreat, a relaxing solo escape, or a luxurious family holiday...</p>
                            <a href="beachfront-bliss-best-india-hotels-with-spa-and-sea-views">Read more...</a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>