 <!--Popupal Hotel WorldWide Start-->
<div class="product-card-block product-card-v1 border-bottom border-color-8 bg-light-grey">
    <div class="container space-1">
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mt-3">
            <h2 class="section-title text-black font-size-30 font-weight-bold mb-0">Popular Hotels Worldwide</h2>
        </div>
        <div class="js-slick-carousel u-slick u-slick--equal-height u-slick--gutters-3 mb-4" 
             data-slides-show="4" 
             data-slides-scroll="1" 
             data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-classic--v2 u-slick__arrow-centered--y rounded-circle" 
             data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-xl-n8" 
             data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-xl-n8" 
             data-pagi-classes="d-lg-none text-center u-slick__pagination mt-4" data-responsive='[ { "breakpoint": 1025, "settings": { "slidesToShow": 3 } }, { "breakpoint": 992, "settings": { "slidesToShow": 2 } }, { "breakpoint": 768, "settings": { "slidesToShow": 1 } }, { "breakpoint": 554, "settings": { "slidesToShow": 1 } } ]'>
            <div class="js-slide mt-5">
                <div class="card mb-1  w-100">
                    <div class="position-relative mb-2">
                        <a href="#" class="d-block gradient-overlay-half-bg-gradient-v5">
                            <img class="card-img-top" src="~/Content/img/300x230/img1.jpg" alt="Image Description">
                        </a>
                        <!--<div class="position-absolute top-0 right-0 pt-5 pr-3">
                        <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                            <span class="flaticon-heart-1 font-size-20"></span>
                        </button>
                        </div>-->
                        <!--<div class="position-absolute bottom-0 left-0 right-0">
                        <div class="px-3 pb-2">
                            <h2 class="h5 text-white mb-0 font-weight-bold font-size-17"><small class="mr-2">Book Now</small></h2>
                        </div>
                        </div>-->
                    </div>
                    <div class="card-body px-4 pt-2 pb-3">
                        <a href="#" class="d-block">
                            <div class="mb-1 d-flex align-items-center font-size-14 text-gray-1">
                                <img src="~/images/location-icon.png" style="max-width:15px; margin-right:6px;" />
                                London, 1.78 km to City Centre
                            </div>
                        </a>
                        <div class="my-2" style="margin-top:0px !important; margin-bottom:0px !important;">
                            <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                <div class="green-lighter mr-2">
                                    <small class="fas fa-star star_color star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                </div>
                                <!--<span class="text-secondary font-size-14 mt-1">48 Reviews</span>-->
                            </div>
                        </div>
                        <a href="#" class="card-title font-size-17 font-weight-bold mb-0 text-dark">Hotel The Savoy</a>
                        <div class="mt-2 mb-3" style="margin-bottom: 0.5rem !important;margin-top: 0.2rem !important;">
                            <span class="badge badge-pill badge-primary py-1 px-2 font-size-14 border-radius-3 font-weight-normal">Most Featured</span>
                        </div>
                        <div class="mb-0">
                            <span class="mr-1 font-size-14 text-gray-1">From</span>
                            <span class="font-weight-bold txt-blue-theme">£381.74</span>
                            <span class="font-size-14 text-gray-1"> / night</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-slide mt-5">
                <div class="card mb-1  w-100">
                    <div class="position-relative mb-2">
                        <a href="#" class="d-block gradient-overlay-half-bg-gradient-v5">
                            <img class="card-img-top" src="~/Content/img/300x230/img2.jpg" alt="Image Description">
                        </a>
                        <!--<div class="position-absolute top-0 right-0 pt-5 pr-3">
                        <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                            <span class="flaticon-heart-1 font-size-20"></span>
                        </button>
                        </div>-->
                        <!--<div class="position-absolute bottom-0 left-0 right-0">
                        <div class="px-3 pb-2">
                            <h2 class="h5 text-white mb-0 font-weight-bold font-size-17"><small class="mr-2">Book Now</small></h2>
                        </div>
                        </div>-->
                    </div>
                    <div class="card-body px-4 pt-2 pb-3">
                        <a href="#" class="d-block">
                            <div class="mb-1 d-flex align-items-center font-size-14 text-gray-1">
                                <img src="~/images/location-icon.png" style="max-width:15px; margin-right:6px;" /> Paris, 0.44 km to City Centre
                            </div>
                        </a>
                        <div class="my-2" style="margin-top:0px !important; margin-bottom:0px !important;">
                            <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                <div class="green-lighter mr-2">
                                    <small class="fas fa-star star_color star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                </div>
                                <!--<span class="text-secondary font-size-14 mt-1">48 Reviews</span>-->
                            </div>
                        </div>
                        <a href="#" class="card-title font-size-17 font-weight-bold mb-0 text-dark">Hotel Des Ducs D'anjou</a>
                        <div class="mt-2 mb-3" style="margin-bottom: 0.5rem !important;margin-top: 0.2rem !important;">
                            <span class="badge badge-pill badge-primary py-1 px-2 font-size-14 border-radius-3 font-weight-normal">Most Popular</span>
                        </div>
                        <div class="mb-0">
                            <span class="mr-1 font-size-14 text-gray-1">From</span>
                            <span class="font-weight-bold txt-blue-theme">£193.18</span>
                            <span class="font-size-14 text-gray-1"> / night</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-slide mt-5">
                <div class="card mb-1  w-100">
                    <div class="position-relative mb-2">
                        <a href="#" class="d-block gradient-overlay-half-bg-gradient-v5">
                            <img class="card-img-top" src="~/Content/img/300x230/img3.jpg" alt="Image Description">
                        </a>
                        <!--<div class="position-absolute top-0 right-0 pt-5 pr-3">
                        <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                            <span class="flaticon-heart-1 font-size-20"></span>
                        </button>
                        </div>-->
                        <!--<div class="position-absolute bottom-0 left-0 right-0">
                        <div class="px-3 pb-2">
                            <h2 class="h5 text-white mb-0 font-weight-bold font-size-17"><small class="mr-2">Book Now</small></h2>
                        </div>
                        </div>-->
                    </div>
                    <div class="card-body px-4 pt-2 pb-3">
                        <a href="../tour/tour-single-v1.html" class="d-block">
                            <div class="mb-1 d-flex align-items-center font-size-14 text-gray-1">
                                <img src="~/images/location-icon.png" style="max-width:15px; margin-right:6px;" /> Madrid, 0.58 km to City Centre
                            </div>
                        </a>
                        <div class="my-2" style="margin-top:0px !important; margin-bottom:0px !important;">
                            <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                <div class="green-lighter mr-2">
                                    <small class="fas fa-star star_color star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                </div>
                                <!--<span class="text-secondary font-size-14 mt-1">48 Reviews</span>-->
                            </div>
                        </div>
                        <a href="#" class="card-title font-size-17 font-weight-bold mb-0 text-dark">Hotel Santo Domingo</a>
                        <div class="mt-2 mb-3" style="margin-bottom: 0.5rem !important;margin-top: 0.2rem !important;">
                            <span class="badge badge-pill badge-primary py-1 px-2 font-size-14 border-radius-3 font-weight-normal">Most Exclusive</span>
                        </div>
                        <div class="mb-0">
                            <span class="mr-1 font-size-14 text-gray-1">From</span>
                            <span class="font-weight-bold txt-blue-theme">£88.94</span>
                            <span class="font-size-14 text-gray-1"> / night</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-slide mt-5">
                <div class="card mb-1  w-100">
                    <div class="position-relative mb-2">
                        <a href="#" class="d-block gradient-overlay-half-bg-gradient-v5">
                            <img class="card-img-top" src="~/Content/img/300x230/img4.jpg" alt="Image Description">
                        </a>
                        <!--<div class="position-absolute top-0 right-0 pt-5 pr-3">
                        <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                            <span class="flaticon-heart-1 font-size-20"></span>
                        </button>
                        </div>-->
                        <!--<div class="position-absolute bottom-0 left-0 right-0">
                        <div class="px-3 pb-2">
                            <h2 class="h5 text-white mb-0 font-weight-bold font-size-17"><small class="mr-2">Book Now</small></h2>
                        </div>
                        </div>-->
                    </div>
                    <div class="card-body px-4 pt-2 pb-3">
                        <a href="#" class="d-block">
                            <div class="mb-1 d-flex align-items-center font-size-14 text-gray-1">
                                <img src="~/images/location-icon.png" style="max-width:15px; margin-right:6px;" /> Birmingham, 0.97 km to City Cent..
                            </div>
                        </a>
                        <div class="my-2" style="margin-top:0px !important; margin-bottom:0px !important;">
                            <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                <div class="green-lighter mr-2">
                                    <small class="fas fa-star star_color star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                </div>
                                <!--<span class="text-secondary font-size-14 mt-1">48 Reviews</span>-->
                            </div>
                        </div>
                        <a href="#" class="card-title font-size-17 font-weight-bold mb-0 text-dark">Radisson Blu Hotel</a>
                        <div class="mt-2 mb-3" style="margin-bottom: 0.5rem !important;margin-top: 0.2rem !important;">
                            <span class="badge badge-pill badge-primary py-1 px-2 font-size-14 border-radius-3 font-weight-normal">Most Exclusive</span>
                        </div>
                        <div class="mb-0">
                            <span class="mr-1 font-size-14 text-gray-1">From</span>
                            <span class="font-weight-bold txt-blue-theme">£111.97</span>
                            <span class="font-size-14 text-gray-1"> / night</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-slide mt-5">
                <div class="card mb-1  w-100">
                    <div class="position-relative mb-2">
                        <a href="#" class="d-block gradient-overlay-half-bg-gradient-v5">
                            <img class="card-img-top" src="~/Content/img/300x230/img5.jpg" alt="Image Description">
                        </a>
                        <!--<div class="position-absolute top-0 right-0 pt-5 pr-3">
                        <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                            <span class="flaticon-heart-1 font-size-20"></span>
                        </button>
                        </div>-->
                        <!--<div class="position-absolute bottom-0 left-0 right-0">
                        <div class="px-3 pb-2">
                            <h2 class="h5 text-white mb-0 font-weight-bold font-size-17"><small class="mr-2">Book Now</small></h2>
                        </div>
                        </div>-->
                    </div>
                    <div class="card-body px-4 pt-2 pb-3">
                        <a href="#" class="d-block">
                            <div class="mb-1 d-flex align-items-center font-size-14 text-gray-1">
                                <img src="~/images/location-icon.png" style="max-width:15px; margin-right:6px;" /> Dubai, 2.31 km to City Centre
                            </div>
                        </a>
                        <div class="my-2" style="margin-top:0px !important; margin-bottom:0px !important;">
                            <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                <div class="green-lighter mr-2">
                                    <small class="fas fa-star star_color star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                </div>
                                <!--<span class="text-secondary font-size-14 mt-1">48 Reviews</span>-->
                            </div>
                        </div>
                        <a href="#" class="card-title font-size-17 font-weight-bold mb-0 text-dark">Grayton Hotel Dubai</a>
                        <div class="mt-2 mb-3" style="margin-bottom: 0.5rem !important;margin-top: 0.2rem !important;">
                            <span class="badge badge-pill badge-primary py-1 px-2 font-size-14 border-radius-3 font-weight-normal">Top Searched</span>
                        </div>
                        <div class="mb-0">
                            <span class="mr-1 font-size-14 text-gray-1">From</span>
                            <span class="font-weight-bold txt-blue-theme">£48.41</span>
                            <span class="font-size-14 text-gray-1"> / night</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-slide mt-5">
                <div class="card mb-1  w-100">
                    <div class="position-relative mb-2">
                        <a href="#" class="d-block gradient-overlay-half-bg-gradient-v5">
                            <img class="card-img-top" src="~/Content/img/300x230/img6.jpg" alt="Image Description">
                        </a>
                        <!--<div class="position-absolute top-0 right-0 pt-5 pr-3">
                        <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                            <span class="flaticon-heart-1 font-size-20"></span>
                        </button>
                        </div>-->
                        <!--<div class="position-absolute bottom-0 left-0 right-0">
                        <div class="px-3 pb-2">
                            <h2 class="h5 text-white mb-0 font-weight-bold font-size-17"><small class="mr-2">Book Now</small></h2>
                        </div>
                        </div>-->
                    </div>
                    <div class="card-body px-4 pt-2 pb-3">
                        <a href="../tour/tour-single-v1.html" class="d-block">
                            <div class="mb-1 d-flex align-items-center font-size-14 text-gray-1">
                                <img src="~/images/location-icon.png" style="max-width:15px; margin-right:6px;" /> Venice, 1.08 km to City Centre
                            </div>
                        </a>
                        <div class="my-2" style="margin-top:0px !important; margin-bottom:0px !important;">
                            <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                <div class="green-lighter mr-2">
                                    <small class="fas fa-star star_color star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                </div>
                                <!--<span class="text-secondary font-size-14 mt-1">48 Reviews</span>-->
                            </div>
                        </div>
                        <a href="#" class="card-title font-size-17 font-weight-bold mb-0 text-dark">Ca'vendramin Zago</a>
                        <div class="mt-2 mb-3" style="margin-bottom: 0.5rem !important;margin-top: 0.2rem !important;">
                            <span class="badge badge-pill badge-primary py-1 px-2 font-size-14 border-radius-3 font-weight-normal">Most Featured</span>
                        </div>
                        <div class="my-2">
                            <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                <div class="green-lighter mr-2">
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                    <small class="fas fa-star star_color"></small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-0">
                            <span class="mr-1 font-size-14 text-gray-1">From</span>
                            <span class="font-weight-bold txt-blue-theme">£119.74</span>
                            <span class="font-size-14 text-gray-1"> / night</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
