<style>
    .section-title::after {
      
        margin: 0 !important;
    }
    .home-deal-price {
        border: 1px solid #f26538;
        border-radius: 19px;
        color: #f26538;
        line-height: 20.11px;
        padding: 8px 12px;
        transition: all .3s;
        font-size:14px;
        font-weight:600;
        float:right;
    }
</style>
<div class="destination-block destination-v6 border-bottom border-color-8">
    <div class="container space-1">
        <div class="w-md-80 w-lg-100 text-left mx-md-auto mb-5 mt-3">
            <h2 class="section-title text-black font-size-30 font-weight-bold mb-0">
                Trending destinations
                <p style="font-size:22px; font-weight:normal">From bookings made in the last 60 days</p>
            </h2>

        </div>
        <div class="row">
            <!-- Card Block -->
            <div class="col-md-4 col-lg-6 col-xl-4 dot4 mb-3 mb-md-4 pb-1">
                <a class="d-block" href="#">
                    <div style="width:100%; float:left; height:auto;">
                        <div style="width:50%; float:left; height:auto;">
                            <p style="color: #444; font-weight:600; font-size:14px; padding-bottom:0px; margin-bottom:0px;">USA Hotels</p>
                            <p style="color: #444; font-weight:400; font-size:12px;">467 luxury properties</p>
                        </div>
                        <div style="width:50%; float:left; height:auto;">
                            <div class="home-deal-price">Starting at <strong style=" font-weight: 700;">$179.00</strong></div>
                        </div>
                    </div>
                    <div class="min-height-240 rounded-border px-4 py-5 bg-img-hero transition-3d-hover gradient-overlay-half-bg-gradient-v2 gradient-overlay shadow-hover-2 dropdown" style="background-image: url(../../images/JFK.jpg); border-radius: 20px;  height: 350px; overflow: hidden;">
                        <header class="w-100 d-flex justify-content-between">
                            <div class="position-relative">
                                <h5 class="text-white font-weight-bold font-size-17 mb-1 text-lh-2 d-block">United States </h5>
                            </div>
                        </header>
                    </div>
                </a>
            </div>
            <!-- End Card Block -->
            <!-- Card Block -->
            <div class="col-md-4 col-lg-6 col-xl-4 dot4 mb-3 mb-md-4 pb-1">
                <a class="d-block" href="#">
                    <div style="width:100%; float:left; height:auto;">
                        <div style="width:50%; float:left; height:auto;">
                            <p style="color: #444; font-weight:600; font-size:14px; padding-bottom:0px; margin-bottom:0px;">Australia Hotels</p>
                            <p style="color: #444; font-weight:400; font-size:12px;">650 luxury properties</p>
                        </div>
                        <div style="width:50%; float:left; height:auto;">
                            <div class="home-deal-price">Starting at <strong style=" font-weight: 700;">$205.00</strong></div>
                        </div>
                    </div>
                    <div class="min-height-240 rounded-border px-4 py-5 bg-img-hero transition-3d-hover gradient-overlay-half-bg-gradient-v2 gradient-overlay shadow-hover-2 dropdown" style="background-image: url(../../images/AUS.jpg); border-radius: 20px; height: 350px; overflow: hidden; ">
                        <header class="w-100 d-flex justify-content-between">
                            <div class="position-relative">
                                <h5 class="text-white font-weight-bold font-size-17 mb-1 text-lh-2 d-block">Australia / NZ</h5>
                            </div>
                        </header>
                    </div>
                </a>
            </div>
            <!-- End Card Block -->
            <!-- Card Block -->
            <div class="col-md-4 col-lg-6 col-xl-4 dot4 mb-3 mb-md-4 pb-1">
                <a class="d-block" href="#">
                    <div style="width:100%; float:left; height:auto;">
                        <div style="width:50%; float:left; height:auto;">
                            <p style="color: #444; font-weight:600; font-size:14px; padding-bottom:0px; margin-bottom:0px;">Rest of the World</p>
                            <p style="color: #444; font-weight:400; font-size:12px;">7,500+ luxury properties</p>
                        </div>
                        <div style="width:50%; float:left; height:auto;">
                            <div class="home-deal-price">Starting at <strong style=" font-weight: 700;">$129.00</strong></div>
                        </div>
                    </div>
                    <div class="min-height-240 rounded-border px-4 py-5 bg-img-hero transition-3d-hover gradient-overlay-half-bg-gradient-v2 gradient-overlay shadow-hover-2 dropdown" style="background-image: url(../../images/restworld.jpg); border-radius: 20px; height: 350px; overflow: hidden;">
                        <header class="w-100 d-flex justify-content-between">
                            <div class="position-relative">
                                <h5 class="text-white font-weight-bold font-size-17 mb-1 text-lh-2 d-block">Around the World</h5>
                            </div>
                        </header>
                    </div>
                </a>
            </div>
            <!-- End Card Block -->

        </div>

     
    </div>
</div>
