<div class="banner-block banner-v6">
    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
        <!-- Apply your Parallax background image here -->
        <div class="divimage dzsparallaxer--target" style="height: 130%; background-image: url('../../Content/img/img7.jpg'); transform: translate3d(0px, -39.563px, 0px);"></div>
        <div class="container text-center space-2 space-md-3">
            <div class="pb-3 mb-1 space-top-lg-1 mt-2">
                <h5 class="text-white font-size-40 font-weight-bold mb-1">Competitive Hotel Prices You Can Trust</h5>
                <p class="text-white font-weight-normal mb-3 mb-lg-6">Whether you’re exploring the beaches of Goa, the heritage of Jaipur, or the business hubs of Delhi and Mumbai, we bring you affordable stays, top-rated hotels, and exclusive offers — all in one place. Compare, book, and save big on your next trip anywhere in India with just a few clicks!</p>
                @*<button class="btn btn-primary border-width-2 rounded-md min-width-200 font-weight-normal transition-3d-hover" href="#">Explore Hotels</button>*@
            </div>
        </div>
    </div>
</div>