<div class="icon-block-center icon-center-v1 border-bottom border-color-8" style="padding-top: 30px; padding-bottom:30px; border-top: 1px solid #000; background-color: #3554d1; ">
    <div class="container text-center space-bottom-1" style="padding-bottom:0px !important;">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto pb-1">
            <h2 class="section-title text-light font-size-30 font-weight-bold">Why Choose Us</h2>
        </div>
        <!-- End Title -->
        <!-- Features -->
        <div class="mb-2">
            <div class="row">
                <!-- Icon Block -->
                <div class="col-md-4">
                    <div class="icon-circle">

                        <i class="flaticon-price text-primary font-size-40 mb-3"></i>
                    </div>
                    <h5 class="font-size-17 text-light font-weight-bold mb-2">Competitive Pricing</h5>
                    <p class="text-light px-xl-2 px-uw-7">When you want to book a hotel, be sure to compare prices first through our GetmeRooms service, so you can get the best deal for your hotel stay!</p>
                </div>
                <!-- End Icon Block -->
                <!-- Icon Block -->
                <div class="col-md-4">
                    <div class="icon-circle">
                        <i class="flaticon-medal text-primary font-size-40 mb-3"></i>
                    </div>
                        <h5 class="font-size-17 text-light font-weight-bold mb-2">Award-Winning Service</h5>
                        <p class="text-light px-xl-2 px-uw-7">
                            We are focused on bringing our visitors hotel price transparency, and presenting their offers in an easy to use interface.
                        </p>
                    </div>
                    <!-- End Icon Block -->
                    <!-- Icon Block -->
                <div class="col-md-4">
                    <div class="icon-circle">
                        <i class="flaticon-global-1 text-primary font-size-40 mb-3"></i>
                    </div>
                        <h5 class="font-size-17 text-light font-weight-bold mb-2">Worldwide Coverage</h5>
                        <p class="text-light px-xl-2 px-uw-7">We are a highly skilled team with years of experience in the online travel business & with a mission to allow our visitors to get the best possible price.</p>
                    </div>
                    <!-- End Icon Block -->
                </div>
        </div>
        <!-- End Features -->
    </div>
</div>
