<p id="scroll-glance" style="padding-bottom:50px; visibility:hidden;"></p>
<div class="border-bottom py-4 position-relative">
    <h5 id="scroll-specifications" class="font-size-21 font-weight-bold text-dark mb-4">
        At a glance
    </h5>
    <ul class="list-group list-group-borderless list-group-horizontal list-group-flush no-gutters row">
        <li class="col-md-4 list-group-item py-0" style="padding-right: 20px;">
            <div class="font-weight-bold text-dark mb-2">Check-in/Check-out</div>
            <div class="text-gray-1 mb-2 pt-1">Check-in from: 15:00</div>
            <div class="text-gray-1 mb-4 pt-1">Check-out until: 11:00</div>
            <div class="font-weight-bold text-dark mb-2">Restrictions related to your trip</div>
            <div class="text-gray-1 mb-4 pt-1">    COVID-19 alert: Travel requirements are changing rapidly, including need for pre-travel COVID-19 testing and quarantine on arrival. </div>
        </li>
        <li class="col-md-4 list-group-item py-0">
            <div class="font-weight-bold text-dark mb-2">Extras</div>
            <div class="text-gray-1 mb-2 pt-1">Breakfast charge (unless included in room price): 20 GBP</div>
            <div class="text-gray-1 mb-4 pt-1">Still Water Horse Head Statue - 70 m</div>
            <div class="font-weight-bold text-dark mb-2">The property</div>
            <div class="text-gray-1 mb-2 pt-1">Number of floors: 8</div>
            <div class="text-gray-1 mb-2 pt-1">Number of rooms : 998</div>
            <div class="text-gray-1 mb-2 pt-1">Most recent renovation: 2019</div>
        </li>
    </ul>
    <div class="collapse" id="collapseLinkExample4">
        <ul class="list-group list-group-borderless list-group-horizontal list-group-flush no-gutters row">
            <li class="col-md-4 list-group-item py-0">
                <div class="font-weight-bold text-dark mb-2">Special check-in instructions</div>
                <div class="text-gray-1 mb-2 pt-1">Front desk staff will greet guests on arrival. </div>
                <div class="font-weight-bold text-dark mb-2">Getting around</div>
                <div class="text-gray-1 mb-2 pt-1">Distance from city center: 0 km</div>
            </li>
            <li class="col-md-4 list-group-item py-0">
                <div class="font-weight-bold text-dark mb-2">Extras</div>
                <div class="text-gray-1 mb-2 pt-1">Breakfast charge (unless included in room price): 20 GBP</div>
                <div class="text-gray-1 mb-4 pt-1">Still Water Horse Head Statue - 70 m</div>
                <div class="font-weight-bold text-dark mb-2">Internet</div>
                <div class="text-gray-1 mb-2 pt-1">Free WiFi in public areas</div>
                <div class="text-gray-1 mb-2 pt-1">WiFi and wired Internet access in rooms</div>
            </li>
        </ul>
    </div>
    <p class="link-collapse link-collapse-custom gradient-overlay-half mb-5 d-inline-block border-bottom border-primary" data-toggle="collapse" href="#collapseLinkExample4" role="button" aria-expanded="false" aria-controls="collapseLinkExample4" style="cursor:pointer;">
        <span class="link-collapse__default font-size-14">View More <i class="flaticon-down-chevron font-size-10 ml-1"></i></span>
        <span class="link-collapse__active font-size-14">View Less <i class="flaticon-arrow font-size-10 ml-1"></i></span>
    </p>
</div>
